@use "base" as *;
@use "utils" as *;
@use "pages" as *;

#App {
  height: 100vh;
  display: flex;
  justify-content: center;

  .homepage {
    @include Header();

    max-width: 100rem;
    width: 80%;
  }
}
