@use "../utils" as *;

@mixin ButtonAnimSquare(
  $backgroundAnim: black,
  $borderColor: black,
  $textColor: white
) {
  button {
    cursor: pointer;
    position: relative;
    border: 1px solid $borderColor;
    border-radius: 34px;
    background-color: transparent;
    transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      margin: auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      scale: 0;
      z-index: -1;
      background-color: $backgroundAnim;
      transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
      color: $textColor;
      border-color: $backgroundAnim;
      box-shadow: $b01 rgba(223, 105, 81, 0.5);

      &:before {
        scale: 3;
      }
    }

    &:active {
      scale: 1.1;
    }

    @content;
  }
}

@mixin ButtonBubble(
  $background: black,
  $bubbleColor: #0c66ed,
  $textColor: white,
  $sizeBubble: 1rem
) {
  .mainButtonBubble {
    color: $textColor;
    background-color: $background;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: $t01;

    span:not(:nth-child(6)) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: $sizeBubble;
      width: $sizeBubble;
      background-color: $bubbleColor;
      border-radius: 50%;
      transition: 0.6s ease;
    }

    span:nth-child(6) {
      position: relative;
    }

    span:nth-child(1) {
      transform: translate(-3.3em, -5rem);
    }

    span:nth-child(2) {
      transform: translate(-6em, 5rem);
    }

    span:nth-child(3) {
      transform: translate(-0.2em, 4rem);
    }

    span:nth-child(4) {
      transform: translate(3.5em, 4rem);
    }

    span:nth-child(5) {
      transform: translate(3.5em, -5rem);
    }

    &:hover {
      span:not(:nth-child(6)) {
        transform: translate(-50%, -50%) scale(4);
        transition: 1.5s ease;
      }
    }

    &:active {
      transform: scale(0.9);
    }

    @content;
  }
}
