@use "../utils" as *;

@mixin CardsMouseTracker() {
  .mainCardsMouseTracker {
    position: relative;
    width: 15rem;
    height: 22rem;
    transition: 200ms;
    cursor: pointer;
    z-index: 4;

    &:active {
      transform: scale(1.1);
    }

    .canvas {
      perspective: 800px;
      inset: 0;
      z-index: 200;
      position: absolute;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "tr-1 tr-2 tr-3 tr-4 tr-5"
        "tr-6 tr-7 tr-8 tr-9 tr-10"
        "tr-11 tr-12 tr-13 tr-14 tr-15"
        "tr-16 tr-17 tr-18 tr-19 tr-20"
        "tr-21 tr-22 tr-23 tr-24 tr-25";

      .tracker {
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
      }

      #card {
        position: absolute;
        inset: 0;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        transition: 125ms ease-in-out;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        border-radius: 1rem;
        box-shadow: 0px 25px 30px -10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  @for $i from 1 through 25 {
    $x: if($i <= 5, 20deg, if($i <= 10, 10deg, -20deg));
    $y: if(
      $i % 5 == 1,
      -10deg,
      if(
        $i % 5 == 2,
        -5deg,
        if($i % 5 == 3, 0deg, if($i % 5 == 4, 5deg, 10deg))
      )
    );

    .tr-#{$i} {
      grid-area: tr-#{$i};
      &:hover ~ #card {
        transform: rotateX(#{$x}) rotateY(#{$y}) rotateZ(0deg);
      }
    }
  }
}
